.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  border: solid 1px gray;
  padding: .7rem .5rem;
  border-radius: .5rem;
  width: 100%;
  box-sizing: border-box;
  &:focus {
    outline: solid 1px deepskyblue;
  }
}

button {
  align-self: flex-end;
  width: 8rem;
  padding: 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  background-color: rgb(243 244 246);
  &:hover {
    background-color: rgb(229 231 235);
  }
  &:active {
    transform: scale(.9);
  }
}
